<div class="page">
  <div class="menu">
    <button mat-raised-button color="primary" [matBadge]="badgeManagers" [matBadgeHidden]="badgeManagers==0"
      (click)="showManagers = !showManagers"> Managers </button>
  </div>
  <div class="main-page">
    <div class="money" [innerHTML]="world.money | bigvalue"></div>
    <div class="content">
      <div class="product" *ngFor="let product of world.products">
        <app-product [prod]="product" [qtmulti]="multiplier" [money]="world.money"
          (notifyProduction)="onProductionDone($event)" class="product col-md-6"></app-product>
      </div>
    </div>
  </div>
  <div class="commute" (click)="changeMultiplier()">BUY <br>{{multiplier}}</div>
  <div *ngIf="showManagers" class="modal">
    <div>
      <h1 class="title">Managers make you feel better !</h1>
    </div>
    <div>
      <div *ngFor="let manager of world.managers">
        <div *ngIf="!manager.unlocked" class="managerslayout">
          <div>
            <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
          </div>
          <div>
            <div class="managername"> {{ manager.name}} </div>
            <div class="managercible"> {{ world.products[manager.idcible-1].name }} </div>
            <div class="managercost"> {{ manager.seuil}} </div>
          </div>
          <div>
            <div class="hirebutton" (click)="hireManager(manager)"
              [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</div>
          </div>
        </div>
      </div>
    </div> <button class="closebutton" mat-raised-button color="primary"
      (click)="showManagers = !showManagers">Close</button>
  </div>
</div>