// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tf2_capitalist-primary: mat.define-palette(mat.$indigo-palette);
$tf2_capitalist-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tf2_capitalist-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tf2_capitalist-theme: mat.define-light-theme((color: (primary: $tf2_capitalist-primary,
        accent: $tf2_capitalist-accent,
        warn: $tf2_capitalist-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tf2_capitalist-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  // transform: scale(0.98);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/background.png')
}

.round {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #2b2626;
  display: flex;
  margin-bottom: 8px;
  background-image: url('./assets/tf2logo.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  animation-name: spin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.spin-animation {
  animation: spin 1s forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-image {
  width: 70%;
  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;}

.manager-image {
  margin-top: 5px;
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation: none;
}

.button {
  display: flex;
  background-color: #2b2626;
  color: #C0C0C0;
  height: 70px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  user-select: none;
}

.button:hover {
  background-color: #6B6A65;
}

.closebutton {
  display: flex;
  background-color: #2b2626;
  color: #C0C0C0;
  height: 70px;
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  user-select: none;
}

.closebutton:hover {
  background-color: #BD3B3B;
}

.profilepic {
  border-radius: 10px;
  margin-top: 10px;
  width: 60%;
  height: auto;
}

.tf2title {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}