<div class="product-wrapper">
    <div class="product-thumbnail" (click)="startFabrication()">
        <div class="round">
            <img class="product-image" src="{{server}}/{{product.logo}}">
        </div>
        <div class="quantity">{{product.quantite}}</div>
    </div>
    <div class="properties">
        <mat-progress-bar class="progression-bar" [value]="progressbarvalue"></mat-progress-bar>
        <div class="subproperties">
            <div class="multiplier">Buy <br/>x{{multiplier}}</div>
            <div class="timer">{{timedisplay}}</div>
        </div>
    </div>
</div>
