.product-wrapper {
    display: inline-flex;
}

.progression-bar{
    background-color: green;
    height: 40px;
    width: 350px;
}

.properties {
    // margin: auto;
}

.subproperties {
    display: flex;
    position: relative;
}

.multiplier {
    background-color: #2b2626;
    height: 40px;
    width: 280px;
    color: #C0C0C0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.cost {
    display: flex;
    margin-left: auto;
}


.maskbar {
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
}

.mask {
    width: 400px;
    height: 70px;
}

.bar {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 70px;
}

.revenu {
    position: absolute;
}

.barbackground {
    position: absolute;
    z-index: -2;
background-color: #34302d;
width: 400px;
height: 70px;
}

.product-thumbnail {
    position: relative;
}

.quantity {
    position: absolute;
    display: flex;
    bottom: -10px;
    height: 30px;
    width: 110px;
    font-size: 150%;
    background-color: #2b2626;
    border-radius: 30px;
    align-items:center;
    justify-content:center;
}

.timer {
    background-color: black;
    height: 40px;
    width: 100px;
    display: flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    font-size: 20px;

}