.product-wrapper {
    display: inline-flex;
}

.progression-bar{
    background-color: green;
    height: 40px;
    width: 350px;
}

.subproperties {
    display: flex;
}

.multiplier {
    background-color: white;
    height: 20px;
    width: 280px;
}

.product-thumbnail {
    position: relative;
}

.quantity {
    position: absolute;
    display: flex;
    bottom: -10px;
    height: 30px;
    width: 110px;
    font-size: 150%;
    background-color: #2b2626;
    border-radius: 30px;
    align-items:center;
    justify-content:center;
}

.timer {
    background-color: black;
    height: 20px;
    width: 70px;
    display: flex;
    align-items:center;
    justify-content:center;
}